<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589337500340-8ai5vgcqubbghf876bku20chosnfabo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589337500340-8ai5vgcqubbghf876bku20chosnfabo1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9A_I1ApEnjYH3yMUuGtSPm5BjiAt3s3M</string>
	<key>GCM_SENDER_ID</key>
	<string>589337500340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.FIT5140Final</string>
	<key>PROJECT_ID</key>
	<string>fit5140-e5b30</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-e5b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589337500340:ios:a060c663026e3c4b</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-e5b30.firebaseio.com</string>
</dict>
</plist>